.menu {
  background-color: #171a21;
  height: 200px;
  font-family: "Motiva Sans", Sans-seriff;
  font-weight: normal;
  font-size: 14px;
  color:#c6d4df;
}
#topMenu {
  width: 900px;
  padding-top: 20px;
  text-align: right;
}

.installBtn {
  display: inline-block;
  padding-left: 35px;
  padding-right: 9px;
  text-decoration: none;
  color: #e5e4dc;
  background-position: 10px 5px;
  background-image: url(https://steamstore-a.akamaihd.net/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
}